stages:
  - build
  - push

build_and_test:
  stage: build
  tags:
    - mac-runner
  script:
    - echo "Cleaning up environment..."
    - docker-compose down --volumes --remove-orphans
    - echo "Building with GitLab CI Variables..."
    - docker-compose build
    - docker-compose up -d db
    - echo "Waiting for database to initialize..."
    - sleep 10
    - echo "Running tests..."
    - docker-compose run --rm backend npm test
    - docker-compose down

deploy_to_registry:
  stage: push
  tags:
    - mac-runner
  only:
    - main
  script:
    - echo "Logging into GitLab Registry..."
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
    - echo "Building and Pushing images..."
    - docker-compose build

    - docker-compose push