variables:

  GIT_CLONE_PATH: $CI_BUILDS_DIR/pern-devops
  GIT_STRATEGY: fetch

stages:
  - build
  - push

build_and_test:
  stage: build
  tags:
    - tython-runner
  script:
    - echo "Project path: $GIT_CLONE_PATH"
    - echo "Cleaning up environment..."
    - touch .env
    - docker-compose down --volumes --remove-orphans
    - echo "Building with GitLab CI Variables..."
    - docker-compose build
    - docker-compose up -d db
    - echo "Waiting for database to initialize..."
    - sleep 10
    - echo "Running tests..."
    - docker-compose run --rm backend npm test || echo "No tests found, skipping..."
    - docker-compose down

deploy_to_registry:
  stage: push
  tags:
    - tython-runner
  only:
    - main
  script:
    - touch .env
    - echo "Logging into GitLab Registry..."
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
    - echo "Building and Pushing images..."
    - docker-compose build

    - docker-compose push