stages:
  - build
  - push


build_and_test:
  stage: build
  tags:
    - mac-runner
  script:
    - echo "Using local Docker Desktop..."
    - docker-compose down --volumes --remove-orphans
    - docker-compose build
    - docker-compose up -d db
    - sleep 5
    - docker-compose run --rm backend npm test
    - docker-compose down

deploy_to_registry:
  stage: push
  tags:
    - mac-runner
  only:
    - main
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"

    - docker-compose build
    - docker-compose push