variables:
  GIT_CLONE_PATH: "$CI_BUILDS_DIR/pern-devops"
  GIT_STRATEGY: fetch

stages:
  - build
  - push

build_and_test:
  stage: build
  tags:
    - tython-runner
  script:
    - echo "Project dir: $CI_PROJECT_DIR"
    - cd "$CI_PROJECT_DIR"

    - echo "Cleaning up environment..."
    - touch .env


    - docker compose down --volumes --remove-orphans || true

    - echo "Building images..."
    - docker compose build

    - echo "Starting database..."
    - docker compose up -d db

    - echo "Waiting for database..."
    - sleep 10

    - echo "Running tests..."
    - docker compose run --rm backend npm test || echo "No tests found, skipping..."

    - docker compose down


deploy_to_registry:
  stage: push
  tags:
    - tython-runner
  only:
    - main
  script:
    - echo "Project dir: $CI_PROJECT_DIR"
    - cd "$CI_PROJECT_DIR"

    - touch .env

    - echo "Login to GitLab registry..."
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"

    - echo "Build images..."
    - docker compose build

    - echo "Push images..."
    - docker compose push
